.root {
  position: relative;

  &__switcher {
    position: fixed;
    margin: 10px;
    margin-left: 20px;
    z-index: 50;
  }

  &__nav {
    position: fixed;
    display: flex;
    width: 100%;
    margin: auto;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(12.5px);
    justify-content: center;
    z-index: 10;

    &__items {
      display: flex;
      &__item {
        cursor: pointer;

        &__link {
          display: block;
          font-size: 22px;
          border-bottom: 3px solid transparent;
          transition: 0.3s all;
          font-weight: 300;

          padding: 10px 20px;

          &__active {
            border-bottom: 3px solid white;
            transition: 0.3s all ease;
          }

          &:hover {
            color: gold;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .root {
    height: 100%;

    &_menuOpen {
      height: 100%;
      transition: transform 0.6s;
    }

    &__switcher {
      position: fixed;
      z-index: 50;
    }

    &__nav {
      width: 100%;
      height: 100%;
      transform: translateY(-120%);
      transition: transform 0.6s;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(12.5px);
      z-index: 40;

      &_active {
        transform: translateY(0);
      }

      &__items {
        flex-direction: column;
        margin-top: 30vh;

        &__item {
          cursor: pointer;
          display: inline-block;
          text-align: center;

          &::after {
            opacity: 0;
            content: "";
            position: absolute;
            width: 24px;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.671);
            border-radius: 15px;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all 0.5s 0.2s;
          }

          &__link {
            display: block;
            font-size: 28px;
            border-bottom: 3px solid transparent;
            transition: 0.3s all;
            font-weight: 300;

            padding: 10px 20px;

            &__active {
              color: gold;
            }

            &:hover {
              color: none;
            }
          }
        }
      }
    }

    &__menuBtnContain {
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;
      background: rgba(0, 0, 0, 0.3);
      box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.45);
      backdrop-filter: blur(12.5px);
      z-index: 45;
      transition: transform 1s ease;

      &_active {
        background: none;
        box-shadow: none;
        backdrop-filter: none;
        transition: transform 1s ease;
      }

      &__menuBtn {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        padding: 5px;
        margin: 0 8px 0 auto;

        & span {
          width: 30px;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #ffffff;
          transition: all 0.5s;

          &:nth-of-type(2) {
            top: calc(50% - 10px);
          }

          &:nth-of-type(3) {
            top: calc(50% + 10px);
          }
        }

        &_active span {
          &:nth-of-type(1) {
            width: 0;
            opacity: 0;
          }
          &:nth-of-type(2) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(45deg);
          }
          &:nth-of-type(3) {
            top: 50%;
            transform: translate(-50%, 0%) rotate(-45deg);
          }
        }
      }
    }
  }
}
