@import "/src/scss/variables.scss";

.root {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px 4px rgba(255, 0, 245, 0.8);
  border-radius: 15px;
  padding: 30px 30px;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &__text {
      font-size: 44px;
      text-shadow: 0px 0px 13px #ff00f5;
    }

    &__number {
      font-family: $cl-font-family-secondary;
      font-weight: 600;
      font-size: 60px;
      opacity: 0.5;
    }
  }

  &__main {
    display: flex;
    gap: 60px;
    margin-bottom: 25px;

    &__carousel {
      margin: auto 0;
      max-width: 30%;
      height: 100%;
      border: 3px solid rgba(255, 255, 255, 0.5);
      border-radius: 30px;
    }

    &__info {
      &__links {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;

        &__link {
          width: 150px;
          padding: 10px 20px;
        }
      }

      &__techTitle {
        font-size: 35px;
        opacity: 0.6;
        font-weight: 400;
      }

      &__tools {
        display: flex;
        gap: 10px;
        align-items: left;
        justify-content: flex-start;
        color: white;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 20px;
        padding-left: 0;

        &__tool {
          min-width: 200px;
          border: 2px solid #6e1a8d;
          border-radius: 30px;
          padding: 10px 10px;
          text-align: center;
          font-weight: 400;
          font-size: 20px;
        }
      }
    }
  }

  &__description {
    font-size: 30px;
    font-weight: 300;

    &__title {
      opacity: 0.6;
      padding-right: 10px;
      font-weight: 400;
    }
  }
}

.github {
  width: 25px;
  height: 25px;
  font-weight: 300;
}

.carousel {
  display: flex;
  overflow: hidden;
  border-radius: 30px;

  &__nav {
    color: rgb(255, 255, 255);
  }

  &__dots {
    bottom: 5px;
    background-color: #a8a8a880;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    width: max-content;

    &_current {
      opacity: 0.1;
    }

    & > li > button > span {
      background-color: #33133f;
    }
  }

  &__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 30px;

    & > img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }
}

@media screen and (max-width: 1024px) {
  .root {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 4px rgba(255, 0, 245, 0.8);
    border-radius: 15px;
    padding: 30px 30px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      &__text {
        font-size: 44px;
        text-shadow: 0px 0px 13px #ff00f5;
      }

      &__number {
        font-family: $cl-font-family-secondary;
        font-weight: 600;
        font-size: 60px;
        opacity: 0.5;
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 25px;

      &__carousel {
        margin: auto;
        max-width: 540px;
        height: 100%;
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
      }

      &__info {
        &__links {
          justify-content: center;
          gap: 20px;
          margin-bottom: 20px;

          &__link {
            width: 150px;
            padding: 10px 20px;
          }
        }

        &__techTitle {
          font-size: 35px;
          opacity: 0.6;
          font-weight: 400;
        }

        &__tools {
          display: flex;
          gap: 10px;
          justify-content: left;
          color: white;
          flex-wrap: wrap;
          padding-left: 0;

          &__tool {
            min-width: 200px;
            border: 2px solid #6e1a8d;
            border-radius: 30px;
            padding: 10px 10px;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
          }
        }
      }
    }

    &__description {
      font-size: 30px;
      font-weight: 300;

      &__title {
        opacity: 0.6;
        padding-right: 10px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 4px rgba(255, 0, 245, 0.8);
    border-radius: 15px;
    padding: 30px 30px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      &__text {
        font-size: 34px;
        text-shadow: 0px 0px 13px #ff00f5;
      }

      &__number {
        align-self: flex-start;
        font-family: $cl-font-family-secondary;
        font-weight: 600;
        font-size: 50px;
        opacity: 0.5;
        padding-left: 15px;
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 25px;

      &__carousel {
        margin: auto;
        max-width: 540px;
        height: 100%;
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
      }

      &__info {
        &__links {
          justify-content: center;
          gap: 20px;
          margin-bottom: 20px;

          &__link {
            font-size: 20px;
            width: 150px;
            padding: 8px;
          }
        }

        &__techTitle {
          font-size: 25px;
          opacity: 0.6;
          font-weight: 400;
        }

        &__tools {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
          gap: 10px;
          justify-content: center;
          color: white;
          flex-wrap: wrap;
          padding: 10px;
          padding-top: 15px;

          &__tool {
            min-width: 150px;
            border: 2px solid #6e1a8d;
            border-radius: 30px;
            padding: 10px 10px;
            text-align: center;
            font-weight: 400;
            font-size: 18px;
          }
        }
      }
    }

    &__description {
      font-size: 20px;
      font-weight: 300;

      &__title {
        opacity: 0.6;
        padding-right: 10px;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .root {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 4px rgba(255, 0, 245, 0.8);
    border-radius: 15px;
    padding: 20px;

    &__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      &__text {
        font-size: 20px;
        text-shadow: 0px 0px 13px #ff00f5;
      }

      &__number {
        align-self: flex-start;
        font-family: $cl-font-family-secondary;
        font-weight: 600;
        font-size: 35px;
        opacity: 0.5;
        padding-left: 15px;
      }
    }

    &__main {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-bottom: 25px;

      &__carousel {
        margin: auto;
        max-width: 540px;
        height: 100%;
        border: 3px solid rgba(255, 255, 255, 0.5);
        border-radius: 30px;
      }

      &__info {
        &__links {
          justify-content: center;
          gap: 20px;
          margin-bottom: 20px;

          &__link {
            font-size: 16px;
            width: 120px;
            padding: 8px;
          }
        }

        &__techTitle {
          font-size: 20px;
          opacity: 0.6;
          font-weight: 400;
        }

        &__tools {
          display: flex;
          gap: 10px;
          justify-content: center;
          color: white;
          flex-wrap: wrap;
          padding: 10px;
          padding-top: 15px;

          &__tool {
            min-width: 120px;
            max-width: 180px;
            width: 80%;
            border: 2px solid #6e1a8d;
            border-radius: 30px;
            padding: 10px 10px;
            text-align: center;
            font-weight: 400;
            font-size: 16px;
          }
        }
      }
    }

    &__description {
      font-size: 17px;
      font-weight: 300;

      &__title {
        opacity: 0.6;
        padding-right: 10px;
        font-weight: 400;
      }
    }
  }
}
