@import "/src/scss/variables.scss";
@import "/src/scss/mixins.scss";

.root {
  padding: 30px;
  border-radius: 30px;
  background-color: get-color(hardSkills, windowBack);
  height: 100%;
  width: 100%;

  &__searchPanel {
    color: get-color(text, text-70);
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: get-color(hardSkills, windowBack);
    font-size: 30px;

    &__shortPath {
      display: none;
    }
  }

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 45px;
    margin-bottom: 10px;
  }

  &__description {
    font-weight: 300;
    font-size: 31px;

    & > p {
      margin: 20px;
    }
  }

  &__spinner {
    display: flex;
    justify-content: center;
    padding: 10%;
    // text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .root {
    padding: 20px;

    &__searchPanel {
      margin-bottom: 20px;
      font-size: 25px;
    }

    &__title {
      font-size: 40px;
      margin-bottom: 5px;
    }

    &__description {
      font-size: 27px;
    }
  }
}

@media screen and (max-width: 768px) {
  .root {
    &__searchPanel {
      margin-bottom: 20px;
      font-size: 20px;
    }

    &__title {
      font-size: 35px;
    }

    &__description {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .root {
    padding: 20px;

    &__searchPanel {
      margin-bottom: 20px;
      display: flex;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 480px) {
  .root {
    &__searchPanel {
      margin-bottom: 20px;
      display: flex;
      font-size: 15px;

      &__path {
        display: none;
      }

      &__shortPath {
        display: block;
      }
    }

    &__title {
      font-size: 25px;
    }

    &__description {
      font-size: 20px;

      & > p {
        margin: 10px 0;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .root {
    padding: 20px;

    &__searchPanel {
      margin-bottom: 20px;
      font-size: 15px;

      &__path {
        display: none;
      }

      &__shortPath {
        display: block;
      }

      &__time {
        display: none;
      }
    }

    &__title {
      font-size: 25px;
    }

    &__description {
      font-size: 20px;
    }
  }
}
