@import "./reset.scss";
@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

* {
  box-sizing: border-box;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  color: get-color(general, white);
  margin: 0;
  background: get-color(general, backgroundColor);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: $cl-font-family-third, "Arial";
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
//     monospace;
// }
