/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #650067;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 20px;
  border: 3px solid #650067;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 224, 224);
}
